<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phản hồi bình luận mới</title>
</head>

<body>
    <h1>
        Xin chào <%= name %>!
    </h1>
    <p>Một phản hồi mới đã được thêm vào bình luận của bạn trong video "<%= title %>"!</p>
    <p>Vui lòng đăng nhập vào trang web của chúng tôi để xem phản hồi và tiếp tục thảo luận</p>
    <p>Cảm ơn bạn đã trở thành một phần trong cộng đồng của chúng tôi!</p>
</body>

</html>